:root {
    --vermelho: #e50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;

}

header {
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 5050;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 
}

header .container .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/***** filme principal *****/

main .filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/capa-house.jpg');
    height: 70vh;
    background-size: cover; /*** area de cobertura ***/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main .filme-principal .descricao {
    margin-bottom: 40px;
    margin-top: 10px;
}

main .filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main .filme-principal .botoes .botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

main .filme-principal .botoes .botao:hover{
    background-color: white;
    color: black;
}

main .filme-principal .botoes .botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}


main .filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-filmes {
    margin-top: 5px;
}

.carousel-series {
    margin-top: 5px;
}

.carousel-documentarios {
    margin-top: 5px;
}

.subtitulo {
    margin: 5px;
    font-size: 24px;
}